body{
    margin: 0;
    padding:0;
    background-color: black;
}

.img-menu{
   width: 45px; 
   height: auto;
   font-family: 'Noto Sans', sans-serif;
}

h2{
    font-family:sans-serif ;
    text-align: center;
    color: white;
}
.card-sin-borde{
    border:none;
}
.bg-darks{
    background:black;
}
.card-img-top{
    height: 200px; 
    object-fit: cover;
    width: 100%;
}
.navbar-toggler{
    color: white;
    background-color:white;
}
